body{

max-width:1000px;

margin:auto;

padding:30px;

background:#0d1117;

color:#e6edf3;

font-family:Arial;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:50px;

}

nav a{

color:#58a6ff;

margin-right:20px;

text-decoration:none;

}

nav a:hover{

text-decoration:underline;

}

h1,h2,h3{

color:#58a6ff;

}

pre{

background:#161b22;

padding:20px;

border-radius:8px;

overflow:auto;

}

code{

color:#79c0ff;

}
